In [13]:
import numpy as np
import pandas as pd 
from nba_api.stats.endpoints import teamgamelog

## Get Team Information

In [14]:
from nba_api.stats.static import teams

# get_teams returns a list of 30 dictionaries, each an NBA team.
nba_teams = teams.get_teams()

# create pandas DataFrame from nba_teams with columns id, abbreviation
team_id = pd.DataFrame.from_dict(nba_teams)
team_id = team_id[['id']]

custom_headers = {
    'Host': 'stats.nba.com/stats',
    'Connection': 'keep-alive',
    'Cache-Control': 'max-age=0',
    'Upgrade-Insecure-Requests': '1',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language':'he-IL,he;q=0.8,en-US;q=0.6,en;q=0.4',
}

## Get individual Team Game Log

In [15]:

# Pistons 
gamelog = teamgamelog.TeamGameLog(season_all= '2018-19', season_type_all_star='Regular Season', team_id = team_id.loc[28, 'id'])

In [16]:
# Get DataFrames 
data = gamelog.get_data_frames()[0]
data.head(10)

,Team_ID,Game_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1610612765,0021801223,"APR 10, 2019",DET @ NYK,W,41,41,0.500,240,41,...,0.950,11,45,56,25,5,2,13,23,115
1,1610612765,0021801210,"APR 09, 2019",DET vs. MEM,W,40,41,0.494,240,35,...,0.714,14,26,40,16,13,4,9,21,100
2,1610612765,0021801198,"APR 07, 2019",DET vs. CHA,L,39,41,0.488,240,34,...,0.867,18,37,55,20,3,7,9,18,91
3,1610612765,0021801186,"APR 05, 2019",DET @ OKC,L,39,40,0.494,240,35,...,0.806,4,28,32,20,10,8,14,23,110
4,1610612765,0021801165,"APR 03, 2019",DET vs. IND,L,39,39,0.500,240,31,...,0.667,11,35,46,21,6,5,18,25,89
5,1610612765,0021801152,"APR 01, 2019",DET @ IND,L,39,38,0.506,240,38,...,0.737,16,25,41,21,7,5,15,24,102
6,1610612765,0021801139,"MAR 30, 2019",DET vs. POR,W,39,37,0.513,240,37,...,0.769,7,38,45,20,8,6,10,21,99
7,1610612765,0021801122,"MAR 28, 2019",DET vs. ORL,W,38,37,0.507,240,46,...,0.500,10,33,43,25,8,9,11,18,115
8,1610612765,0021801115,"MAR 26, 2019",DET @ DEN,L,37,37,0.500,240,36,...,0.692,17,39,56,19,5,2,6,21,92
9,1610612765,0021801101,"MAR 24, 2019",DET @ GSW,L,37,36,0.507,240,39,...,0.960,10,19,29,25,6,0,6,13,114

## Get Game Logs for every team 2018-19

In [17]:
df_dict = {}
for team_id in team_id['id']:
    data = teamgamelog.TeamGameLog(season_all='2018-19', season_type_all_star='Regular Season', team_id = team_id, timeout=300, headers=custom_headers).get_data_frames()[0]
    df_dict.update({team_id : data})

In [18]:
# Check Type
print(type(df_dict))

# Check length of df_dict to make sure there is data for each team
print(len(df_dict.keys()))

<class 'dict'>
30

## Deconstruct Dictionary

In [19]:
# Deconstruct dictionary to individual dataframes for each team

dictget = lambda df_dict, *k: [df_dict[i] for i in k]

In [32]:
# Deconstruct dictionary by team_id and assign it to each teams respective abbreviation
ATL, BOS, CLE, NOP, CHI, DAL, \
DEN, GSW, HOU, LAC, LAL, MIA, \
MIL, MIN, BKN, NYK, ORL, IND, \
PHI, PHX, POR, SAC, SAS, OKC, \
TOR, UTA, MEM, WAS, DET, CHA  = dictget(df_dict, \
                                        1610612737, 1610612738, 1610612739, 1610612740, 1610612741, \
                                        1610612742, 1610612743, 1610612744, 1610612745, 1610612746, \
                                        1610612747, 1610612748, 1610612749, 1610612750, 1610612751, \
                                        1610612752, 1610612753, 1610612754, 1610612755, 1610612756, \
                                        1610612757, 1610612758, 1610612759, 1610612760, 1610612761, \
                                        1610612762, 1610612763, 1610612764, 1610612765, 1610612766)

AttributeError: 'list' object has no attribute 'set_index'

In [21]:
print(type(ATL))
ATL.head()

<class 'pandas.core.frame.DataFrame'>

,Team_ID,Game_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1610612737,0021801220,"APR 10, 2019",ATL vs. IND,L,29,53,0.354,240,43,...,0.816,22,39,61,29,5,7,17,25,134
1,1610612737,0021801202,"APR 07, 2019",ATL @ MIL,L,29,52,0.358,240,40,...,0.526,9,39,48,25,2,3,11,28,107
2,1610612737,0021801181,"APR 05, 2019",ATL @ ORL,L,29,51,0.363,240,41,...,0.677,10,28,38,21,16,4,14,21,113
3,1610612737,0021801168,"APR 03, 2019",ATL vs. PHI,W,29,50,0.367,240,48,...,0.786,11,33,44,29,7,7,11,26,130
4,1610612737,0021801162,"APR 02, 2019",ATL @ SAS,L,28,50,0.359,240,43,...,0.650,11,32,43,26,13,2,11,18,111

In [31]:
print(type(BOS))
BOS.set_index('Game_ID')
BOS.head()

<class 'pandas.core.frame.DataFrame'>

,Team_ID,Game_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1610612738,0021801211,"APR 09, 2019",BOS @ WAS,W,49,33,0.598,240,45,...,0.478,13,37,50,27,10,3,5,17,116
1,1610612738,0021801203,"APR 07, 2019",BOS vs. ORL,L,48,33,0.593,240,42,...,0.857,6,33,39,28,9,4,13,19,108
2,1610612738,0021801183,"APR 05, 2019",BOS @ IND,W,48,32,0.600,240,48,...,0.875,7,42,49,27,7,6,11,15,117
3,1610612738,0021801170,"APR 03, 2019",BOS @ MIA,W,47,32,0.595,240,38,...,0.871,6,36,42,25,8,7,11,21,112
4,1610612738,0021801153,"APR 01, 2019",BOS vs. MIA,W,46,32,0.590,240,36,...,0.875,14,35,49,25,8,2,12,18,110

In [23]:
# Store DataFrames in data table 
team_list = [ATL, BOS, CLE, NOP, CHI, DAL, \
             DEN, GSW, HOU, LAC, LAL, MIA, \
             MIL, MIN, BKN, NYK, ORL, IND, \
             PHI, PHX, POR, SAC, SAS, OKC, \
             TOR, UTA, MEM, WAS, DET, CHA]
abbreviations = ["ATL", "BOS", "CLE", "NOP", "CHI", "DAL", \
             "DEN", "GSW", "HOU", "LAC", "LAL", "MIA", \
             "MIL", "MIN", "BKN", "NYK", "ORL", "IND", \
             "PHI", "PHX", "POR", "SAC", "SAS", "OKC", \
             "TOR", "UTA", "MEM", "WAS", "DET", "CHA"]
data = pd.DataFrame({'DataFrame': team_list, 
                        'Name': abbreviations})
data.head()

                                           DataFrame Name
0         Team_ID     Game_ID     GAME_DATE      ...  ATL
1         Team_ID     Game_ID     GAME_DATE      ...  BOS
2         Team_ID     Game_ID     GAME_DATE      ...  CLE
3         Team_ID     Game_ID     GAME_DATE      ...  NOP
4         Team_ID     Game_ID     GAME_DATE      ...  CHI

## Save DataFrames as CSV's

In [24]:
# for i in range(30):
#     data['DataFrame'][i].to_csv('../Resources/team_game_logs/2018-2019/%s.csv' % (data['Name'][i]))
#     i+=1

In [25]:
# # Concatinate all dataframes and Save combined_df as CSV
# combined_df = pd.concat(team_list)
# combined_df.to_csv('../Resources/team_game_logs/2018-2019/ALL_game_logs_1819.csv')

## Save DataFrames in SQL Database

In [33]:
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [34]:
# Create Engine and Pass in MySQL Connection
engine = create_engine("mysql://root:et66gh06@127.0.0.1:3306/NBA_DATA")
con = engine.connect()

In [36]:
# Save DataFrames to SQL. Change Game_ID column to INT(11). Make Game_ID column Primary Key 
for i in range(30):
    data['DataFrame'][i][::-1].to_sql(name=data['Name'][i], con=con, if_exists='replace')
    con.execute('ALTER TABLE `%s` CHANGE COLUMN `Game_ID` `Game_ID` INT(11) NULL DEFAULT NULL;' % (data['Name'][i]))
    con.execute('ALTER TABLE `%s` ADD PRIMARY KEY (`Game_ID`);' % (data['Name'][i]))
    con.execute('ALTER TABLE `%s` DROP COLUMN `index`;' % (data['Name'][i]))
    i+=1

<bound method NDFrame.head of        Team_ID     Game_ID     GAME_DATE      MATCHUP WL   W   L  W_PCT  MIN  \
0   1610612737  0021801220  APR 10, 2019  ATL vs. IND  L  29  53  0.354  240
1   1610612737  0021801202  APR 07, 2019    ATL @ MIL  L  29  52  0.358  240
2   1610612737  0021801181  APR 05, 2019    ATL @ ORL  L  29  51  0.363  240
3   1610612737  0021801168  APR 03, 2019  ATL vs. PHI  W  29  50  0.367  240
4   1610612737  0021801162  APR 02, 2019    ATL @ SAS  L  28  50  0.359  240
5   1610612737  0021801145  MAR 31, 2019  ATL vs. MIL  W  28  49  0.364  265
6   1610612737  0021801131  MAR 29, 2019  ATL vs. POR  L  27  49  0.355  240
7   1610612737  0021801113  MAR 26, 2019    ATL @ NOP  W  27  48  0.360  240
8   1610612737  0021801088  MAR 23, 2019  ATL vs. PHI  W  26  48  0.351  240
9   1610612737  0021801076  MAR 21, 2019  ATL vs. UTA  W  25  48  0.342  240
10  1610612737  0021801060  MAR 19, 2019  ATL vs. HOU  L  24  48  0.333  240
11  1610612737  0021801046  MAR 17, 2019    ATL @ ORL  L  24  47  0.338  240
12  1610612737  0021801034  MAR 16, 2019    ATL @ BOS  L  24  46  0.343  240
13  1610612737  0021801016  MAR 13, 2019  ATL vs. MEM  W  24  45  0.348  240
14  1610612737  0021800995  MAR 10, 2019  ATL vs. NOP  W  23  45  0.338  240
15  1610612737  0021800987  MAR 09, 2019  ATL vs. BKN  L  22  45  0.328  240
16  1610612737  0021800968  MAR 06, 2019  ATL vs. SAS  L  22  44  0.333  240
17  1610612737  0021800953  MAR 04, 2019    ATL @ MIA  L  22  43  0.338  240
18  1610612737  0021800946  MAR 03, 2019    ATL @ CHI  W  22  42  0.344  240
19  1610612737  0021800928  MAR 01, 2019  ATL vs. CHI  L  21  42  0.333  340
20  1610612737  0021800912  FEB 27, 2019  ATL vs. MIN  W  21  41  0.339  265
21  1610612737  0021800903  FEB 25, 2019    ATL @ HOU  L  20  41  0.328  240
22  1610612737  0021800883  FEB 23, 2019  ATL vs. PHX  W  20  40  0.333  240
23  1610612737  0021800877  FEB 22, 2019  ATL vs. DET  L  19  40  0.322  240
24  1610612737  0021800865  FEB 14, 2019  ATL vs. NYK  L  19  39  0.328  240
25  1610612737  0021800848  FEB 12, 2019  ATL vs. LAL  W  19  38  0.333  240
26  1610612737  0021800837  FEB 10, 2019  ATL vs. ORL  L  18  38  0.321  240
27  1610612737  0021800827  FEB 09, 2019  ATL vs. CHA  L  18  37  0.327  240
28  1610612737  0021800813  FEB 07, 2019  ATL vs. TOR  L  18  36  0.333  240
29  1610612737  0021800791  FEB 04, 2019    ATL @ WAS  W  18  35  0.340  240
..         ...         ...           ...          ... ..  ..  ..    ...  ...
52  1610612737  0021800452  DEC 18, 2018  ATL vs. WAS  W   7  23  0.233  240
53  1610612737  0021800436  DEC 16, 2018    ATL @ BKN  L   6  23  0.207  240
54  1610612737  0021800420  DEC 14, 2018    ATL @ BOS  L   6  22  0.214  240
55  1610612737  0021800412  DEC 12, 2018    ATL @ DAL  L   6  21  0.222  240
56  1610612737  0021800380  DEC 08, 2018  ATL vs. DEN  W   6  20  0.231  240
57  1610612737  0021800357  DEC 05, 2018  ATL vs. WAS  L   5  20  0.200  240
58  1610612737  0021800344  DEC 03, 2018  ATL vs. GSW  L   5  19  0.208  240
59  1610612737  0021800325  NOV 30, 2018    ATL @ OKC  L   5  18  0.217  240
60  1610612737  0021800306  NOV 28, 2018    ATL @ CHA  L   5  17  0.227  240
61  1610612737  0021800302  NOV 27, 2018    ATL @ MIA  W   5  16  0.238  240
62  1610612737  0021800288  NOV 25, 2018  ATL vs. CHA  W   4  16  0.200  240
63  1610612737  0021800268  NOV 23, 2018  ATL vs. BOS  L   3  16  0.158  240
64  1610612737  0021800254  NOV 21, 2018  ATL vs. TOR  L   3  15  0.167  240
65  1610612737  0021800243  NOV 19, 2018  ATL vs. LAC  L   3  14  0.176  240
66  1610612737  0021800226  NOV 17, 2018    ATL @ IND  L   3  13  0.188  240
67  1610612737  0021800214  NOV 15, 2018    ATL @ DEN  L   3  12  0.200  240
68  1610612737  0021800201  NOV 13, 2018    ATL @ GSW  L   3  11  0.214  240
69  1610612737  0021800189  NOV 11, 2018    ATL @ LAL  L   3  10  0.231  240
70  1610612737  0021800169  NOV 09, 2018  ATL vs. DET  L   3   9  0.250  240
71  1610612737  0021800155  NOV 07, 2018  ATL vs. NYK  L   3   8  0.273  240
72  1610612737  0021800149  NOV 06, 2018    ATL @ CHA  L   3   7  0.300  240
73  1610612737  0021800128  NOV 03, 2018  ATL vs. MIA  W   3   6  0.333  240
74  1610612737  0021800114  NOV 01, 2018  ATL vs. SAC  L   2   6  0.250  240
75  1610612737  0021800097  OCT 30, 2018    ATL @ CLE  L   2   5  0.286  240
76  1610612737  0021800088  OCT 29, 2018    ATL @ PHI  L   2   4  0.333  240
77  1610612737  0021800076  OCT 27, 2018  ATL vs. CHI  L   2   3  0.400  240
78  1610612737  0021800052  OCT 24, 2018  ATL vs. DAL  W   2   2  0.500  240
79  1610612737  0021800036  OCT 21, 2018    ATL @ CLE  W   1   2  0.333  240
80  1610612737  0021800020  OCT 19, 2018    ATL @ MEM  L   0   2  0.000  240
81  1610612737  0021800007  OCT 17, 2018    ATL @ NYK  L   0   1  0.000  240

    FGM ...   FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS
0    43 ...    0.816    22    39   61   29    5    7   17  25  134
1    40 ...    0.526     9    39   48   25    2    3   11  28  107
2    41 ...    0.677    10    28   38   21   16    4   14  21  113
3    48 ...    0.786    11    33   44   29    7    7   11  26  130
4    43 ...    0.650    11    32   43   26   13    2   11  18  111
5    52 ...    0.588    15    43   58   36   10   10    9  13  136
6    38 ...    0.929     8    33   41   20    5    7   10  22   98
7    44 ...    0.885     9    32   41   30   13    4   16  26  130
8    49 ...    0.762    15    34   49   28    8    7   12  25  129
9    41 ...    0.696     9    34   43   26    8    5   16  23  117
10   39 ...    0.800     8    37   45   30    6    1   19  23  105
11   38 ...    0.700     8    42   50   20    8    3   18  29   91
12   43 ...    0.792    19    31   50   27   11    5   17  25  120
13   52 ...    0.786    15    36   51   35    9    9   11  26  132
14   48 ...    0.833    10    46   56   30    4    5    9  12  128
15   39 ...    0.813    18    39   57   22    7    2   10  37  112
16   36 ...    0.792    11    36   47   21    8    2   14  18  104
17   38 ...    0.800    16    26   42   25    9    2   14  21  113
18   42 ...    0.643    11    35   46   30   10    5   13  18  123
19   61 ...    0.680     9    50   59   33   11    8   20  34  161
20   46 ...    0.844    18    47   65   32    1    6   12  25  131
21   39 ...    0.696    10    31   41   21    6    6   17  24  111
22   38 ...    0.842    12    38   50   22    8    9   13  22  120
23   43 ...    0.842    10    37   47   21    6    4   18  24  122
24   33 ...    0.789    10    31   41   19    8    4   12  24   91
25   40 ...    0.808     6    41   47   29    8    6   20  24  117
26   37 ...    0.840     5    28   33   27    5    6   11  21  108
27   46 ...    0.737    10    26   36   26   10    3   18  18  120
28   36 ...    0.520     8    34   42   25    5    3   17  25  101
29   46 ...    0.862    14    36   50   29    7    2   12  22  137
..  ... ...      ...   ...   ...  ...  ...  ...  ...  ...  ..  ...
52   37 ...    0.821    13    36   49   23    4    5   23  29  118
53   47 ...    0.760     8    25   33   38    9    5   14  22  127
54   36 ...    0.625    16    28   44   27   10    5   24  19  108
55   43 ...    0.714    16    28   44   21    7    2   21  30  107
56   40 ...    0.688     9    42   51   33    9   11   18  23  106
57   41 ...    0.742     8    35   43   28   13    4   17  27  117
58   44 ...    0.750     9    26   35   23   10    4   18  21  111
59   43 ...    0.600    14    28   42   26   15    3   21  12  109
60   32 ...    0.864    16    38   54   20   11    8   19  25   94
61   38 ...    0.844    10    36   46   22   13    7   24  24  115
62   50 ...    0.727     9    32   41   34    5    9   15  23  124
63   35 ...    0.690     5    35   40   22    9    7   20  26   96
64   42 ...    0.778     9    25   34   24   10    7    9  21  108
65   45 ...    0.895    16    35   51   29    6    6   14  38  119
66   31 ...    0.704     5    36   41   20   15    6   18  24   89
67   32 ...    0.741    15    28   43   20    7    5   19  22   93
68   40 ...    0.733    10    32   42   25    9    2   14  18  103
69   41 ...    0.846    10    34   44   25   11    4   17  23  106
70   36 ...    0.750     9    44   53   17    6    2   16  21  109
71   37 ...    0.759    15    30   45   26    5    9   17  30  107
72   41 ...    0.778     7    30   37   22   13    9   22  18  102
73   46 ...    0.783     8    29   37   33   11    7   16  21  123
74   42 ...    0.676    10    33   43   26    6    6   22  28  115
75   44 ...    0.647     6    33   39   25    6    8   22  29  114
76   35 ...    0.667    10    37   47   20   10    3   13  18   92
77   27 ...    0.826    11    37   48   20    9    8   22  13   85
78   37 ...    0.710    10    44   54   28    6    6   15  26  111
79   48 ...    0.789     9    35   44   32    9    7   12  21  133
80   41 ...    0.583    11    29   40   27    9    5   19  31  117
81   41 ...    0.833     7    38   45   19    7    3   24  30  107

[82 rows x 27 columns]>